

.profile-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-btn {
    margin-top: 50px;
    margin-bottom: 80px;
    width: 200px;
    height: 42px;
    font-size: 1.1rem;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn span {
    display: flex;
    align-items: center;
}

.back-btn:hover {
    background: #dadada;
}