
.navbar {
    height: 60px;
    max-width: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
}

.navbar-inner {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

.navbar-inner a {
    color: white;
}

.navbar-inner a:hover {
    color: #dadada;
}