
.navigation {
    height: 60px;
    background: black;
    color: white;
    display: flex;
}

.nav-content-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: white;
}