
.card-container a {
    text-decoration: none;
}

.card {
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid white;
    background: #dadada;
}

.card .row,
.card img {
    height: 100%;
}

.card-body a {
    text-decoration: none;
    color: black;
}

.card:hover {
    cursor: pointer;
    transform: scale(0.99)
}
