@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

image {
  max-width: 100%;
}

body {
  background: rgb(45, 42, 65);
  font-family: 'Roboto', sans-serif;
}


