@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: rgb(22, 21, 21);
  font-family: 'Roboto', sans-serif;
}
